body{
    margin: 0px;
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*header start*/
.header{
    position: sticky;
    top: 0px;
    padding: 10px 15px 0px 15px;
    background-color: #ffffffcc;
    z-index: 1;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 140px;
}
.name{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.name span{
    font-weight: 700;
}
.hamburger{
    font-size: 24px;
    cursor: pointer;
}
.hr1{
    margin-bottom: -1px;
}
.butt{
    margin-left: 125px;
    display: flex;
    justify-content: center;
}
.bt{
    padding: 10px;
}
.bt:hover{
    padding: 10px;
    border-top: 3px solid #18B9E5;
}
.bt a{
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
/*Hero Start*/
.hero{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 28px;
}
.pic img{
    width: 80%;
    padding-left: 50px;
}
p{
    padding-top: 30px;
    text-align: center;
    font-size: 13px;
}

/*Grid Start*/
.grid{
    padding: 120px 0 60px 0;
    margin: auto;
    width: 100%;
}
.text2{
    margin: auto;
    width: 400px;
    padding-bottom: 100px;
}
.grid-items{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 300px;
    justify-content: center;
    gap: 20px;
}
.item1{
    position: relative;
    width: 100%;
    height: 300PX;
    grid-column: 1 / span 3;
    grid-row: 1;
}
.item1 video{
    width: 100%;
    height: 300PX;
    border-radius: 35px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}
.item1 > .text{
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 22px;
}
.item2{
    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 4;
    grid-row: 1 / span 2;
}
.item2 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
}
.item2 > .text{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
}
.item3 img{
    border-radius: 35px;
}
.item3{
    position: relative;
}
.item3 > .text{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
    color: white;
}
.item4{
    position: relative;
}
.item4 img{
    border-radius: 35px;
}
.item4 > .text{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
}
.item5{
    position: relative;
}
.item5 img{
    border-radius: 35px;
}
.item5 > .text{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
}
.flex1{
    margin: auto;
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.rfi{
    align-items: center;
    margin: 50px 10px;
    padding: 20px;
    border-radius: 35px;
    width: 400px;
    display: flex;
    background-color: #ffffff;
}
.flex1 img{
    border-radius: 25px;
}
.flex1 p{
    padding: 0px 0px 0px 15px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
}
.flex2{
    width: 1000px;
    height: 320px;
    margin: auto;
    display: flex;
}
.div1, .div2, .div3{
    background-color: #ffffff;
    margin: 10px;
    padding: 0px 20px;
    align-items: center;
}
.flex2 h4{
    text-align: center;
    padding: 50px 10px;
}
.flex2 h3{
    text-align: center;
}